In [1]:
data= [(1,2),(3,1),(0,4)]
sorted_by_first = sorted(data)  # Default sorts by the first element
print(sorted_by_first)
sorted_by_second = sorted(data, key=lambda x: x[1])
print(sorted_by_second)

[(0, 4), (1, 2), (3, 1)]
[(3, 1), (1, 2), (0, 4)]

In [2]:
data= [(1,2),(3,1),(0,4)]
sorted_by_first = sorted(data, reverse=True)  # Default sorts by the first element
print(sorted_by_first)
sorted_by_second = sorted(data, key=lambda x: x[1], reverse= True)
print(sorted_by_second)

[(3, 1), (1, 2), (0, 4)]
[(0, 4), (1, 2), (3, 1)]

In [15]:
data2 = [(1, 3), (1, 2), (2, 1)]
sorted_by_first_second = sorted(data2, key=lambda x: (x[0], x[1]))
print(sorted_by_first_second)

[(1, 2), (1, 3), (2, 1)]

In [14]:
data = { 'date': 1, 'apple': 5, 'banana': 2, 'cherry': 7}
sort_by_key=dict(sorted(data.items()))
print(sort_by_key)

{'apple': 5, 'banana': 2, 'cherry': 7, 'date': 1}

In [16]:
data = {'apple': 5, 'banana': 2, 'cherry': 7, 'date': 1}
sort_by_key=dict(sorted(data.items() , key=lambda x: x[0]))
print(sort_by_key)
sort_by_value=dict(sorted(data.items() , key=lambda x: x[1]))
print(sort_by_value)

{'apple': 5, 'banana': 2, 'cherry': 7, 'date': 1}
{'date': 1, 'banana': 2, 'apple': 5, 'cherry': 7}

In [17]:
data = {'apple': 5, 'banana': 2, 'cherry': 7, 'date': 1}
sort_by_key=dict(sorted(data.items() , key=lambda x: x[0], reverse=True))
print(sort_by_key)
sort_by_value=dict(sorted(data.items() , key=lambda x: x[1], reverse=True))
print(sort_by_value)

{'date': 1, 'cherry': 7, 'banana': 2, 'apple': 5}
{'cherry': 7, 'apple': 5, 'banana': 2, 'date': 1}

In [18]:
names=["Vinay","Veena","Swathi"]
marks=[98,99,95]
name_marks=zip(names,marks)
print(list(name_marks))

[('Vinay', 98), ('Veena', 99), ('Swathi', 95)]

In [19]:
data_1=[1,2,3,4]
data_2=['a','b']
data=zip(data_1,data_2)
print(list(data))

[(1, 'a'), (2, 'b')]

In [20]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = ['x', 'y', 'z']

zipped = zip(list1, list2, list3)
print(list(zipped))

[(1, 'a', 'x'), (2, 'b', 'y'), (3, 'c', 'z')]

In [24]:
marks=[23,45,67,89,90, 12]
plist=filter(lambda x:x>=50, marks)
print(list(plist))
flist=filter(lambda x:x<=50, marks)
print(list(flist))

[67, 89, 90]
[23, 45, 12]

In [25]:
fruits=['apple', 'orange' ,'cherry' , 'banana', 'strawberry']
xfruits=filter(lambda x: len(x)==5 , fruits)
print(list(xfruits))

['apple']

In [27]:
cel=[24,26,28,30]
fah=map(lambda x:x*1.6+32, cel)
print(list(fah))

[70.4, 73.6, 76.80000000000001, 80.0]

In [28]:
cel=[24,26,28,30]
fah=[x*1.6+32 for x in cel]
print(cel)
print(fah)

[24, 26, 28, 30]
[70.4, 73.6, 76.80000000000001, 80.0]

In [29]:
import random
for i in range(5):
    print(random.randint(2,999))

893
557
962
834
375

In [30]:
import random
print(random.random()) #generates random nos from 0 to 1

0.33548957300942284

In [32]:
import random
# change above code to generate otp
otp=random.random()*1000000
otp=int(otp)
print(otp)

602792

In [33]:
import random
otp=random.randint(111111, 999999)
print(otp)

397399

In [34]:
#choice
import random
list=["apple","banana","orange"]
print(random.choice(list))

banana

In [35]:
#choices
import random
list=["Abhinay","Veena","Vaishu","Swathi","Vinay"]
print(random.choices(list, k=2))

['Veena', 'Swathi']